html, body { height: 100%; }
body {
  background-color: #0c2129;
  overflow: hidden;
}
menu {
  color: white;
}
menu > * {
  float: left;
  clear: both;
}
header {
  font-size: 2em;
  margin-bottom: 1em;
}
start {
  border-style: outset;
  border-color: #eee;
  border-width: 2px;
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
}
start:active {
  border-style: inset;
}
cyan {
  background-color: black;
  color: cyan;
}
magenta {
  background-color: black;
  color: magenta;
}
yellow {
  background-color: black;
  color: yellow;
}