html, body { height: 100%; }
body {
  background-color: #0c2129;
  overflow: hidden;
}
menu {
  color: white;
  background-color: #000;
}
menu > * {
  float: left;
  clear: both;
}
header {
  font-size: 2em;
  margin-bottom: 1em;
  background-color: initial;
}
start,
options {
  border-style: outset;
  border-color: #eee;
  border-width: 2px;
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
}
start:active,
options:active {
  border-style: inset;
}
menu #cyan {
  color: cyan;
  background-color: inherit;
}
menu #magenta {
  color: magenta;
  background-color: inherit;
}
menu #yellow {
  color: yellow;
  background-color: inherit;
}