html, body { height: 100%; }
body {
  background-color: #0c2129;
  overflow: hidden;
}
menu {
  color: white;
  background-color: #000;
}
menu > * {
  float: left;
  clear: both;
}
header {
  font-size: 2em;
  margin-bottom: 1em;
  background-color: initial;
}
start,
options,
removePlayer,
addPlayer {
  display: inline-block;
  border-style: outset;
  border-color: #eee;
  border-width: 2px;
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
}
removePlayer,
addPlayer {
  width: 1em;
  height: 1em;
  text-align: center;
  padding-bottom:2px;
  margin-right: .420em;
  margin-bottom: .420em;
}
start:active,
options:active,
removePlayer:active,
addPlayer:active {
  border-style: inset;
}
:disabled {
  pointer-events: none;
  display: none;
  visibility: hidden;
  background: #eeeeee;
}
#cyan,
player:nth-child(1) {
  color: #00FFFF;
  border-color: #00FFFF;
  background-color: inherit;
}
#magenta,
player:nth-child(2) {
  color: #FF00FF;
  border-color: #FF00FF;
  background-color: inherit;
}
#yellow,
player:nth-child(3) {
  color: #FFFF00;
  border-color: #FFFF00;
  background-color: inherit;
}
player {
  display: inline-block;
  border: 1px solid;
  padding: .420em;
  margin-right: .420em;
  margin-bottom: .420em;
}
player * {
  float: left;
}
menu map {
  padding: 1px;
  margin-bottom: 1px;
  border: 1px solid #eee;
  min-width: 1.33em;
  height: 1.33em;
  cursor: default;
  caret-color: #00000000;
  overflow: hidden;
}
map,
label {
  float: left;
  width: 3em;
  text-align: center;
}
label {
  clear: left;
}